.gamepane {
    -fx-background-color: black;
}

.intro {
    -fx-background-color: black;
}

.menu-background {
    -fx-background-image: url("../images/1.jpg");
    -fx-background-size: cover;
}

.challenge-background {
    -fx-background-image: url("../images/2.jpg");
    -fx-background-size: cover;
}

.multiplayer-background {
    -fx-background-image: url("../images/3.jpg");
    -fx-background-size: cover;
}

.join-gridpane {
    -fx-background-color: #f57b0056;
    -fx-padding: 10;
    /* -fx-effect: dropshadow(gaussian, #bb4e00be, 10, 0, 5, 5); */
}

.chan-gridpane {
    -fx-background-color: #ffa20091;
    -fx-padding: 10;
    /* -fx-effect: dropshadow(gaussian, #c67000c0, 10, 0, 5, 5); */
}

.chanpaneTitle {
    -fx-font-family: Orbitron;
    -fx-font-sie: 15px;
    -fx-stroke: black;
}

.joinpaneTitle {
    -fx-font-family: Orbitron;
    -fx-font-sie: 15px;
    -fx-stroke: white;
}

.errorMsgBox {
    -fx-stroke: white;
    -fx-background-color: #ff000080;
}

.errorMsg{
    -fx-strole: white;
    -fx-font-size: 12px;
}

.error-listview {
    -fx-background-color: transparent;
}

.menu {
    -fx-padding: 10;
}

.menuItem {
    -fx-fill: blue;
    -fx-font-family: 'Orbitron';
    -fx-font-size: 32px;
    -fx-font-weight: 700;
    -fx-text-fill: white;
    -fx-background-color: transparent;
    -fx-stroke: yellow;
    -fx-effect: dropshadow(gaussian, rgb(231, 27, 27), 1, 1.0, 1, 1);
}

.menuLogo {
    -fx-padding: 50;
}

.menuItem:hover {
    -fx-fill: yellow;
    -fx-text-fill: yellow;
}

.menuItem.selected {
    -fx-fill: yellow;
}

.bigtitle {
    -fx-fill: yellow;
    -fx-font-family: 'Orbitron';
    -fx-font-size: 64px;
    -fx-font-weight: 900;
    -fx-border-color: black;
    -fx-stroke: black;
    -fx-effect: dropshadow(gaussian, black, 1, 1.0, 1, 1);
}

.title {
    -fx-fill: white;
    -fx-font-family: 'Orbitron';
    -fx-font-size: 32px;
    -fx-font-weight: 900;
    -fx-border-color: black;
    -fx-stroke: black;
    -fx-effect: dropshadow(gaussian, black, 1, 1.0, 1, 1);
}

.heading {
    -fx-fill: white;
    -fx-font-family: 'Orbitron';
    -fx-font-size: 15px;
    -fx-font-weight: 700;
    -fx-border-color: black;
    -fx-stroke: black;
    -fx-effect: dropshadow(gaussian, black, 1, 1.0, 1, 1);
}

.score {
    -fx-fill: yellow;
    -fx-font-family: 'Orbitron';
    -fx-font-size: 20px;
    -fx-font-weight: 700;
    -fx-border-color: black;
    -fx-stroke: black;
    -fx-text-alignment: center;
    -fx-effect: dropshadow(gaussian, black, 1, 1.0, 1, 1);
}

.multiplier {
    -fx-fill: yellow;
    -fx-font-family: 'Orbitron';
    -fx-font-size: 20px;
    -fx-font-weight: 700;
    -fx-border-color: black;
    -fx-stroke: black;
    -fx-text-alignment: center;
    -fx-effect: dropshadow(gaussian, black, 1, 1.0, 1, 1);
}

.level {
    -fx-fill: #ff6600;
    -fx-font-family: 'Orbitron';
    -fx-font-size: 24px;
    -fx-font-weight: 700;
    -fx-border-color: black;
    -fx-stroke: black;
    -fx-text-alignment: center;
    -fx-effect: dropshadow(gaussian, black, 1, 1.0, 1, 1);
}

.hiscore {
    -fx-fill: orange;
    -fx-font-family: 'Orbitron';
    -fx-font-size: 24px;
    -fx-font-weight: 700;
    -fx-border-color: black;
    -fx-stroke: black;
    -fx-text-alignment: center;
    -fx-effect: dropshadow(gaussian, black, 1, 1.0, 1, 1);
}

.lives {
    -fx-fill: yellow;
    -fx-font-family: 'Orbitron';
    -fx-font-size: 36px;
    -fx-font-weight: 700;
    -fx-border-color: black;
    -fx-stroke: black;
    -fx-text-alignment: center;
    -fx-effect: dropshadow(gaussian, black, 1, 1.0, 1, 1);
}

.scorelist {
    -fx-font-size: 20px;
    -fx-fill: white;
    -fx-font-family: 'Orbitron';
    -fx-stroke: black;
}

.scoreitem {}

.scorer {}

.myscore {
    -fx-font-weight: 700;
}

.deadscore {
    -fx-strikethrough: true;
}

.points {}

.channelList {}

.channelItem {
    -fx-fill: transparent;
    -fx-background-color: transparent;
    -fx-font-family: 'Orbitron';
    -fx-font-size: 16px;
    -fx-font-weight: 700;
    -fx-text-fill: white;
    -fx-border-color: black;
    -fx-stroke: rgb(255, 255, 255);
}

.channelItem.selected {
    -fx-fill: yellow;
}

.channelItem:hover {

    -fx-fill: yellow;
    -fx-text-fill: RED;

}

.leaderboard {
    -fx-font-size: 16px;
}

.gameBox {
    -fx-padding: 10;
    -fx-background-color: rgba(0, 0, 0, 0.64);
    -fx-border-color: white;
    -fx-border-width: 1;
}

.scroller {
    -fx-background-color: transparent;
}

.scroller .viewport {
    -fx-background-color: transparent;
}

.messages {
    -fx-background-color: transparent;
    -fx-font-size: 12px;
    -fx-font-family: 'Orbitron';
}

.messages Text {
    -fx-fill: white;
}

TextField {
    -fx-border-color: white;
    -fx-border-width: 1px;
    -fx-background-color: rgba(0, 0, 0, 0.5);
    -fx-text-fill: white;
    -fx-prompt-text-fill: grey;
}

.playerBox {
    -fx-font-size: 14px;
    -fx-font-family: 'Orbitron';
    -fx-background-color: transparent;
}

.playerBox Text {
    -fx-fill: white;
    -fx-text-fill: white;
}

.playerBox Label {
    -fx-fill: white;
    -fx-text-fill: white;
}

.myname {
    -fx-font-weight: 700;
}

.instructions {
    -fx-font-size: 10px;
    -fx-font-family: 'Orbitron';
    -fx-fill: white;
}

.setting {
    -fx-background-image: url("../images/4.jpg");
    -fx-background-size: cover;
}

.setting Label {
    -fx-font-family: 'Orbitron';
    -fx-font-size: 20px;
    -fx-stroke: white;
    -fx-text-alignment: center;
    -fx-text-fill: white;

}

.setting Button {
    -fx-font-family: 'Orbitron';
    -fx-font-size: 20px;
    -fx-font-weight: 700;
    -fx-text-fill: white;
    -fx-background-color: transparent;
    -fx-stroke: #ff6f00;
    -fx-effect: dropshadow(gaussian, rgb(0, 0, 0), 1, 1.0, 1, 1);

}

.setting Button:hover {
    -fx-text-fill: #ff6f00;
}

.setting Button.selected {
    -fx-fill: #ff6f00;
}

